<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['pokedex']">
        <img src="public/assets/img/logo.png">
        Pokédex |
      </a>
      <a href="https://twitter.com/delgadillojuanm" class="navbar-brand author" target="_blank">Written on Angular 2 by Juan Delgadillo</a>
    </div>
  </div>
</div>
<a href="https://github.com/JuanDelgadillo/angular2-pokedex" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:1031;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>