<div>
  <div class="page-header">
    <h1>Pokédex <small class="pull-right">Showing <span class="badge">{{pokemons.length}}</span> Pokémons</small></h1>
  <h2 *ngIf="pokemonType"><span class="label type-{{pokemonType | lowercase}}">{{pokemonType}}</span></h2>
  </div>
<div class="row" *ngFor="let group of groupped">
  <div class="col-lg-3" *ngFor="let pokemon of group">
    <div class="pokemon panel panel-primary">
      <div class="panel-heading">
              <pokemon-name [pokemon]="pokemon" ></pokemon-name>
          </div>
      <div class="panel-body">
        <a [routerLink]="['/pokemon', pokemon.name ]">
          <pokemon-image [pokemon]="pokemon" ></pokemon-image>
        </a>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          <pokemon-type [pokemon]="pokemon"></pokemon-type>
        </div>
          </div>
    </div>
  </div>
</div>
</div>